<div class="brands-images">
	<div class="brands-images__image"></div>
	<div class="brands-images__image"></div>
	<div class="brands-images__image"></div>
	<div class="brands-images__image"></div>
	<div class="brands-images__image"></div>
	<div class="brands-images__image"></div>
</div>

<div class="brands">
	<span ng-click="highlightCircle(1)">A Good Thing</span>
	<br>
	<span ng-click="highlightCircle(2)">Taus Ceramics</span>
	<br>
	<span ng-click="highlightCircle(3)">The Norm Ltd</span>
	<br>
	<span ng-click="highlightCircle(4)">TID Watches</span>
	<br>
	<span ng-click="highlightCircle(5)">Shuren Projects</span>
	<br>
	<span ng-click="highlightCircle(6)">& more.</span>
</div>
<div class="nav nav--vertical">
	<a href="#/brands"><div class="info-text nav__button nav__button--selected"><span>Brands</span></div></a>
	<a href="#/about"><div class="info-text nav__button"><span>About</span></div></a>
	<a href="#/contact"><div class="info-text nav__button"><span>Contact</span></div></a>
</div>
<div class="info-text store-credit"><span>A Temporary Experience by Cyrus Chow & Molawin Evangelista.</span></div>