@font-face {
  font-family: 'UniversBlack';
  src: url("../fonts/UniversLTStd-Black.otf"); }
@font-face {
  font-family: 'UniversLight';
  src: url("../fonts/UniversLTStd-Light.otf"); }
@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(359deg); } }
html, body {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  box-sizing: border-box;
  font-family: 'Open Sans';
  background-color: #A1A1A1;
  color: white; }

a, a:visited {
  color: white;
  text-decoration: none; }

#map {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  z-index: 0;
  position: relative;
  top: 0 !important;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  width: 95%;
  height: 350px;
  opacity: 1 !important; }
  @media only screen and (min-width: 64em) {
    #map {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      width: 450px;
      height: 450px;
      top: -100%;
      transition-duration: 0.5s; } }

.title {
  top: 0;
  margin: 20px 0 0 0;
  text-align: center; }
  .title__underline {
    display: none; }
  .title span {
    position: relative;
    top: -40px;
    font-size: 1em; }
  .title h1 {
    display: inline-block;
    font-size: 3em;
    margin: 0 0 0 0; }
  @media only screen and (min-width: 64em) {
    .title {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      position: absolute;
      font-family: 'UniversBlack';
      letter-spacing: 5px;
      cursor: pointer; }
      .title h1 {
        font-size: 3.5em; }
      .title span {
        font-size: 1.5em; }
      .title__underline {
        display: inline-block;
        float: left;
        height: 10px;
        width: 0;
        background-color: white;
        position: relative;
        top: 100%; }
      .title:hover {
        color: black; } }

.site-credit {
  right: 0%;
  margin: 0 10px 0 0;
  position: absolute; }

.store-credit {
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  position: absolute;
  cursor: pointer; }

.nav {
  position: absolute;
  bottom: 10px;
  margin: 0 0 0 10px; }
  .nav__button {
    float: left;
    margin: 0 7px 0 7px;
    height: 25px; }
    .nav__button--selected {
      font-family: 'UniversBlack' !important; }
  .nav--vertical {
    top: calc(50% - 115px);
    left: 25px;
    transform: rotate(90deg);
    transform-origin: left top;
    -ms-transform: rotate(90deg);
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    /* Chrome, Safari, Opera */ }

.info-text {
  display: none; }
  @media only screen and (min-width: 64em) {
    .info-text {
      display: inline-block;
      bottom: 10px;
      display: inline;
      font-family: 'UniversLight';
      font-size: 1.2em; } }
  .info-text--about span {
    color: black; }

.contact {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  z-index: 1;
  right: 28%;
  position: absolute;
  font-size: 1.3em;
  display: inline-block; }
  .contact--home {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 100%;
    text-align: center;
    position: relative;
    margin: 0 0 20px 0; }
    @media only screen and (min-width: 64em) {
      .contact--home {
        display: none; } }

.about-bg {
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  background-color: white; }

.about-text {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  color: #A1A1A1;
  position: absolute;
  display: inline-block;
  font-size: 1em;
  width: 45%;
  max-width: 650px;
  left: 100px; }

.large-logo {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  right: 100px;
  position: absolute;
  width: 20%;
  height: 50%; }
  .large-logo__image {
    -webkit-animation: rotation 60s infinite linear;
    -webkit-filter: invert(100%);
    /* Safari 6.0 - 9.0 */
    filter: invert(100%);
    position: relative;
    top: 0;
    width: 100%;
    padding-bottom: 100%;
    background-image: url("../imgs/circle-logo.png");
    background-size: contain;
    background-repeat: no-repeat; }
  .large-logo__text {
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    position: relative;
    display: inline-block;
    color: black;
    margin: 20px 0 0 0; }
    .large-logo__text h3 {
      margin: 0 0 0 0;
      font-size: 2em; }
    .large-logo__text span {
      position: absolute;
      font-size: 0.9em;
      top: -7px;
      right: -15px; }

.brands {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
  left: 30%;
  display: inline-block;
  cursor: pointer; }
  .brands span {
    transition-duration: 1s;
    color: white;
    font-size: 1.3em; }

.brands-images {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: absolute;
  height: 50%;
  width: 45%;
  right: 100px;
  max-height: 400px;
  max-width: 775px; }
  .brands-images__image {
    transition-duration: 1s;
    width: 30%;
    height: 47%;
    float: left;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1.5% 0 1.5% 0; }
    .brands-images__image:nth-child(2), .brands-images__image:nth-child(5) {
      margin: 1.5% 1.6665% 1.5% 1.6665%; }
    .brands-images__image:nth-child(1) {
      background-image: url("../imgs/circle1.png"); }
    .brands-images__image:nth-child(2) {
      background-image: url("../imgs/circle2.png"); }
    .brands-images__image:nth-child(3) {
      background-image: url("../imgs/circle3.png"); }
    .brands-images__image:nth-child(4) {
      background-image: url("../imgs/circle4.png"); }
    .brands-images__image:nth-child(5) {
      background-image: url("../imgs/circle5.png"); }
    .brands-images__image:nth-child(6) {
      background-image: url("../imgs/circle6.png"); }

.enjoy {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: inline-block;
  position: absolute;
  right: 5%;
  font-size: 1.2em; }

/*# sourceMappingURL=index.css.map */
