$grey1: #A1A1A1;
$grey2: #222222;
$grey3: #222222;

$browser-context: 16;
@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

$small-breakpoint: em(1024) !default;

@mixin respond-to($media) {
  @if $media == non-mobile {
    @media only screen and (min-width: $small-breakpoint) { @content; }
  }
}

@font-face {
    font-family: 'UniversBlack';
   	src:  url('../fonts/UniversLTStd-Black.otf');
}

@font-face {
    font-family: 'UniversLight';
   	src:  url('../fonts/UniversLTStd-Light.otf');
}

@mixin center {
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin center-vertical {
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

@mixin center-horizontal {
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

html, body {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	background-color: $grey1;
	color: white;
}

#map {
	@include center-horizontal;
	position: relative;
	top: 0;
	border-radius: 10px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	width: 95%;
	height: 350px;
	@include respond-to(non-mobile) {
		@include center;
		position: absolute;
		width: 500px;
		height: 500px;
		top: -100%;
		transition-duration: 0.5s;
	}
}

.title {
	top: 0;
	margin: 20px 0 0 0;
	text-align: center;
	&__underline {
		display: none;
	}
	span {
		position: relative;
		top: -40px;
		font-size: 1em;
	}
	h1 {
		display: inline-block;
		font-size: 3em;
		margin: 0 0 0 0;
	}
	@include respond-to(non-mobile) {
		@include center;
		position: absolute;
		font-family: 'UniversBlack';
		letter-spacing: 5px;
		cursor: pointer;
		h1 {	
			font-size: 3.5em;
		}
		span {
			font-size: 1.5em;
		}
		&__underline {
			display: inline-block;
			float: left;
			height: 10px;
			width: 0;
			background-color: white;
			position: relative;
			top: 100%;
		}
		&:hover {
			color: black;
		}
	}
}

.info {
	display: none;
	@include respond-to(non-mobile) {
		display: inline;
		font-family: 'UniversLight';
		bottom: 0;
		width: 100%;
		position: absolute;
		font-size: 1.2em;
		height: 50px;
		span:nth-child(1) {
			min-width: 240px;
		}
		span {
			float: left;
			width: 25%;
			text-align: center;
			min-width: 180px;
		}
	}
}

.contact {
	text-align: center;
}
