$grey1: #A1A1A1;
$grey2: #222222;
$grey3: #222222;

@font-face {
    font-family: 'UniversBlack';
   	src:  url('../fonts/UniversLTStd-Black.otf');
}

@font-face {
    font-family: 'UniversLight';
   	src:  url('../fonts/UniversLTStd-Light.otf');
}

@mixin center {
	position: absolute;
	top: 50%;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin center-vertical {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

@mixin center-horizontal {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
}

html, body {
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
	height: 100%;
	width: 100%;
	margin: 0 0 0 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	background-color: $grey1;
	color: white;
}

#map {
	@include center;
	position: absolute;
	top: -100%;
	width: 500px;
	height: 500px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	border-radius: 10px;
	transition-duration: 0.5s;
}

.title {
	@include center;
	position: absolute;
	font-family: 'UniversBlack';
	letter-spacing: 5px;
	cursor: pointer;
	h1 {	
		display: inline-block;
		font-size: 4em;
		margin: 0 0 0 0;
	}
	span {
		position: relative;
		top: -50px;
		font-size: 2em;
	}
	&__underline {
		height: 10px;
		width: 0;
		background-color: white;
		position: relative;
		top: 100%;
	}
	&:hover {
		color: black;
	}
}

.info {
	font-family: 'UniversLight';
	bottom: 0;
	position: absolute;
	margin: 0 0 20px 20px;
	font-size: 1.2em;
}
